Feature: Validate the functionality get booking api

Scenario: Get non-existent booking (passed)

Scenario: Verify user can filter Booking By Date (failed) bug Expected :true Actual   :false

Scenario: Verify user can filter Booking By Name  (failed) bug Expected :true Actual   :false

Scenario: Verify user can retrieve list of booking  (failed) bug bug Expected :400  Actual   :200

Scenario: Create a booking with invalid dates  (failed) bug Expected :400  Actual   :200

Scenario Outline: Verify user cannot create a booking with invalid datas in firstname (failed) bug Expected :400  Actual:200

Scenario: Verify user can create a booking (passed)

Scenario: Verify user can create token  (passed)